<div *ngIf="!isLoading">
  <h1>Top Records</h1>
  <div class="table-wrapper">
    <table mat-table [dataSource]="players" class="mat-elevation-z8">
      <!-- Index Column -->
      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef>Index</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">{{
          i + 1
        }}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="score">
        <mat-header-cell *matHeaderCellDef>Score</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.score }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns; let i = index"
        [ngClass]="i == 0 ? 'first-place' : 'second-place'"
      ></mat-row>
    </table>
  </div>
</div>
