<div class="player-name">Welcome {{ player?.name || "john doe" }}</div>
<div class="wrapper">
  <div class="score" [ngClass]="{ win: isWin, 'game-over': isGameOver }">
    <span> Score : {{ score }} </span>
  </div>
  <div class="game-container" [ngClass]="{ opacity: isGameOver || timer >= 0 }">
    <div *ngIf="timer >= 0" class="timer">
      <div class="timer-text" [@myTrigger]="timer">{{ timer }}</div>
    </div>
    <div class="row" *ngFor="let row of board; let i = index">
      <div
        class="column"
        attr.data-row="{{ i }}"
        attr.data-column="{{ j }}"
        [ngClass]="{
          food: column === spotType.Food,
          snake: column === spotType.SnakeBody,
          head: column === spotType.SnakeHead,
          regular: column === spotType.Empty,
          wall: column === spotType.Wall
        }"
        *ngFor="let column of row; let j = index"
      ></div>
    </div>
  </div>
</div>
