.wrapper {
  width: max-content;
  margin: auto;
}
.game-container {
  background-color: #47565a;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  position: relative;
}

.opacity {
  opacity: 0.9;
}

.game-over,
.win,
.score {
  width: calc(100% - 0.5rem);
  left: 10px;
  margin-left: 0.25rem;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100px;
}
.timer {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}
.timer-text {
  position: absolute;
  font-weight: 500;
  display: inline-flex;
  width: 180px;
  height: 130px;
  justify-content: center;
  align-items: center;
}

.score {
  -webkit-box-shadow: 0px 0px 0px 5px #a0a0a0, inset 0px 10px 27px -8px #141414,
    inset 0px -10px 27px -8px #0a0f46, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 5px #a0a0a0, inset 0px 10px 27px -8px #141414,
    inset 0px -10px 27px -8px #0a0f46, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  background: #1c6ea4;
  margin-bottom: 5px;
}

.game-over {
  background: red;
  box-shadow: 0px 0px 0px 5px #a0a0a0, inset 0px 10px 27px -8px #141414,
    inset 0px -10px 27px -8px #a31925, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.win {
  background: #48a544;
  -webkit-box-shadow: 0px 0px 0px 5px #a0a0a0, inset 0px 10px 27px -8px #141414,
    5px 5px 15px 5px rgba(0, 0, 0, 0.78), 7px 11px 19px 11px rgba(0, 0, 0, 0.87);
  box-shadow: 0px 0px 0px 5px #a0a0a0, inset 0px 10px 27px -8px #141414,
    5px 5px 15px 5px rgba(0, 0, 0, 0.78), 7px 11px 19px 11px rgba(0, 0, 0, 0.87);
}

.row {
  height: 24px;
}

.column {
  border: 1px solid rgba(97, 131, 138, 0.1);
  width: 24px;
  height: 24px;
  display: inline-block;
}

.regular {
  background: rgba(0, 0, 0, 0.15);
}

.wall {
  background: #383522;
}

.food {
  transform: translateZ(0px) scale(0.694677);
  background-color: rgb(119, 255, 51);
  box-shadow: rgb(119, 255, 51) 0px 0px 16.2855px;
  opacity: 1;
}

.snake {
  background: #c6c5cceb;
  box-shadow: rgb(149 169 139) 0px 0px 16.2855px;
}

.head {
  background: #7052cceb;
}
