.wrapper{
  width: max-content;
  margin: auto;
}
.game-container {
    background-color: #47565A;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    position: relative;
}

.opacity{
  opacity: 0.7;
}

.game-over, .win, .score {
  width: calc(100% - 0.5rem);
  left: 10px;
  margin-left: 0.25rem;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100px;
}

.game-over{
  background: red;;
  box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
}

.win {
  background: #48A544;
  -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, 5px 5px 15px 5px rgba(0,0,0,0.78), 7px 11px 19px 11px rgba(0,0,0,0.87); 
  box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, 5px 5px 15px 5px rgba(0,0,0,0.78), 7px 11px 19px 11px rgba(0,0,0,0.87);
}

.score{
  -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
  background-color: #1C6EA4;
}

.row {
  height: 24px;
}

.column {
  border: 1px solid rgba(97, 131, 138, .1);
  width: 24px;
  height: 24px;
  display: inline-block;
  transition: 0.4s ease-out;
}

.food{
  transition: none;
}