<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">Snake Retro Game</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item class="parent">
        <span class="full-width">SNAKE MENU</span>
        <mat-icon mat-list-icon>home</mat-icon>
      </mat-list-item>
      <mat-list-item class="parent"
        ><a mat-button [routerLink]="'/details'"> PLAY </a></mat-list-item
      >
      <mat-list-item class="parent"
        ><a mat-button [routerLink]="'/dashboard'">
          DASHBOARD
        </a></mat-list-item
      >
    </mat-nav-list>
    <mat-nav-list> </mat-nav-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
